:root {
    --text-color: #302e29;
    --main-color: #ff9100;
    --second-color: #858585;
    --bg-color: #fffbf6;
    --bg2-color: #f7e8d5;
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;

    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
}

* {  
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    background: var(--bg-color);
}

/* ========== NAVBAR ========= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid var(--bs-gray-200);
    background: var(--bs-gray-900);
    z-index: 1000000000;
}

.navbar .nav-logo img {
    width: 4.5rem;
    aspect-ratio: 1/1;
}

.navbar .nav-link a {
    padding: 2px 1rem;
    color: var(--bs-gray-100);
    font-weight: 500;
}

.navbar .nav-link a:hover {
    border-bottom: 2px solid var(--main-color);
}

.navbar .nav-icons {
    display: flex;
    background: var(--main-color);
    padding: 0.5rem 2%;
    border-radius: 5rem;
    color: #f8f9fa;
}

.navbar .nav-icons svg {
    padding: 0 0.3rem;
}

#menu-icon {
    display: none;
    cursor: pointer;
}

/* ============ HOME  =========== */
.home {
    background-image: url(ImgPizzaShop/home-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: none;
    display: flex;
    align-items: center;
}

.home-text {
    color: var(--bs-gray-100);
    padding: 0 6%;
    line-height: 2rem;
}

.home-text h1 {
    font-size: 3rem;
    padding-right: 20rem;
    font-weight: 800;
    background-image: linear-gradient(109.6deg, rgba(245, 56, 56, 1) 11.2%, rgba(234, 192, 117, 1) 78%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    line-height: 4rem;
}

.home-text p {
    color: var(--bs-gray-400);
    font-weight: 300;
    padding-right: 25rem;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.home-text button {
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2rem;
    background: var(--main-color);
    color: #f8f9fa;

}

.home-text button:hover {
    transform: scale(1.02);
    background-image: linear-gradient(112.7deg, rgba(253, 185, 83, 1) 11.4%, rgba(255, 138, 0, 1) 70.2%);
}

/* ================== INGREDIENTS ========*/
.ingredients {
    padding: 0 6%;
    text-align: center;
    margin-top: 4rem;
}

.ingredients-text {
    line-height: 2rem;
}

.ingredients-text h3 {
    font-weight: 400;
    color: var(--bs-gray-600);
}

.ingredients-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    margin-top: 3rem;
}

.ingredient img {
    aspect-ratio: 1.5/1;
    width: 6.5rem;
}

.ingredient {
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    background: var(--bs-gray-200);
    margin: 1px 2px;
    gap: 5px;
}

.ingredient:hover {
    transform: scale(1.02);
}

/* ==================  ABOUT  ==============*/
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 6rem 6% 0 6%;
}

.about-img img {
    aspect-ratio: 1/1;
    width: 100%;
}

.about-text h1 {
    font-size: var(--h2-font);
    margin-bottom: 1.3rem;
}

.about-text p {
    line-height: 1.5rem;
}

.about-text button {
    padding: 0.8rem 2rem;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2rem;
    background: var(--main-color);
    color: #f8f9fa;

}

.about-text button:hover {
    transform: scale(1.02);
    background-image: linear-gradient(112.7deg, rgba(253, 185, 83, 1) 11.4%, rgba(255, 138, 0, 1) 70.2%);
}

/* ================== MENU ==============*/
.menu-container {
    padding-top: 7rem;
    padding: 7rem 6%;
}

.main-text {
    text-align: center;
}

.main-text h1 {
    font-size: var(--h2-font);
    margin: 0.7rem 0;
    font-weight: 800;
    background-image: linear-gradient(112.7deg, rgb(254, 226, 183) 11.4%, rgb(255, 94, 0) 70.2%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.main-text h3 {
    font-weight: 500;
    color: var(--bs-gray-700);
}

.menu img {
    aspect-ratio: 1.5/1;
    width: 100%;
    border-radius: 2rem 10px;
}

.menu img:hover {
    border-radius: 10px 2rem;
    transform: scale(1.07);
    transition: all 0.6s ease;
    cursor: pointer;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2.3rem;
    margin-top: 2rem;
}

.menu-text p {
    font-size: 0.85rem;
    color: var(--bs-gray-700);
    font-weight: 300;
    text-align: justify;
}

.menu-tittle {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.icon-stars svg {
    color: var(--main-color);
}

/* ================== CONTACT ==============*/
.contact {
    background: var(--bg2-color);
}

.contact-container {
    padding: 3rem 6% 3rem 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-content: center;
    gap: 2rem;
}

.content-contact h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.content-contact a {
    color: var(--bs-gray-900);
    line-height: 1.9rem;
}

.content-contact ul:hover,
.content-contact a:hover {
    transform: translate(3px, 2px);
    color: var(--main-color);
    transition: all 0.4s ease;
}

.last-text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 13px;
    font-weight: 500;
}

/* ===================== MEDIA QUERIS ================ */
/* desktop */
@media screen and (max-width: 989px) {

    /* home */
    .home-text h1,
    p {
        padding-right: 20%;
        letter-spacing: none;
    }
}

/* tablet 1 */
@media screen and (max-width: 820px) {

    /* home */
    .home-text h1 {
        padding-right: 8rem;
        letter-spacing: none;
    }

    .home-text p {
        padding-right: 18rem;
        letter-spacing: none;
    }

    /* about */
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 6rem 6% 0 6%;
        gap: 1rem;
    }

    .about-img img {
        aspect-ratio: 1/1;
        width: 90%;
    }

    .about-text h1 {
        font-size: 2rem;
        margin-bottom: 1.3rem;
    }

    .about-text p {
        line-height: 1.5rem;
        font-size: 0.8rem;
    }
}

/* tablet 2*/
@media screen and (max-width: 786px) {

    /* home */
    .home-text h1 {
        padding-right: 8rem;
        letter-spacing: none;
    }

    .home-text p {
        padding-right: 10rem;
    }

    /* ingredients */

    .ingredient img {
        aspect-ratio: 1.5/1;
        width: 5.5rem;
        text-align: center;
    }

    /* about */
    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 6rem 2% 0 6%;
    }

    .about-img img {
        display: none;
    }

    .about-text h1 {
        font-size: var(--h2-font);
        margin-bottom: 1.3rem;
    }

    .about-text p {
        line-height: 1.5rem;
    }
}

/* tablet 3*/
@media screen and (max-width: 600px) {
    /* navbar */
    .nav-link {
        position: absolute;
        top: 100%;
        right: -100%;
        background:  var(--bg2-color);
        width: 14rem;
        height: 100vh;
        color: #212529;
    }

    .nav-link.active {
        right: 0;
        transition: all 0.5s ease;
    }

    #menu-icon {
        display: block;
    }

    .navbar .nav-link a {
        padding: 0.5rem 1rem;
        color: var(--bs-gray-900);
        font-weight: 500;
        display: block;
        margin: 5px 0  0 10px;
        text-align: center;
    }
    
    .navbar .nav-link a:hover {
        border-bottom: 2px solid var(--main-color);
    }
}

/* tablet 4*/
@media screen and (max-width: 540px) {

    /* home */
    .home-text h1 {
        padding-right: 1rem;
        letter-spacing: none;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home-text p {
        padding-right: 5rem;
        font-size: 0.8rem;
    }
}

/* tablet 5 */
@media screen and (max-width: 450px) {
    /* ingredients */

    .ingredient img {
        aspect-ratio: 1.5/1;
        width: 6rem;
    }

    .ingredient {
        gap: 1rem;
        display: flex;
        justify-content: center;
    }

    /* about */
    .about-text h1 {
        font-size: 2rem;
        margin-bottom: 1.3rem;
    }
}

/* hanphone */
@media screen and (max-width: 378px) {

    /* navbar */
    .nav-link a {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    /* home */
    .home-text h1 {
        letter-spacing: none;
        font-size: 1.7rem;
    }

    .home-text button {
        padding: 0.7rem 1.2rem;
        font-size: 0.8rem;
    }

    /* about */
    .about-text h1 {
        font-size: 2rem;
        margin-bottom: 1.3rem;
    }

    .about-text p {
        line-height: 1.2rem;
        font-size: 0.7rem;
    }

    /* menu */
    .main-text h1 {
        font-size: 2rem;
    }

    .main-text h3 {
        font-size: 0.8rem;
    }

    /* contatc */
    .contact-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 75%;
    }

    .content-contact a {
        line-height: 1.5rem;
    }
}